<section class="product-list" (click)="showMenu = false">
  <div class="product-list__search-container">
    <input
      class="product-list__search-input product-list__search-input--rounded"
      type="search"
      name="search"
      placeholder="Buscar..."
      [formControl]="search"
    />
    <button
      class="button-primary product-list__add-button"
      type="button"
      title="Agregar"
      routerLink="/add"
    >
      Agregar
    </button>
  </div>
  <div class="product-list__table-wrapper">
    <table class="product-list__table">
      <thead class="product-list__table-head">
        <tr class="product-list__table-row">
          <th class="product-list__table-header">Logo</th>
          <th class="product-list__table-header">Nombre del producto</th>
          <th class="product-list__table-header">
            Descripción
            <app-tooltip
              tooltipText="Puedes ver la descripción de cada producto."
              ><img src="images/info.svg" alt="Info" width="24px" height="16px"
            /></app-tooltip>
          </th>
          <th class="product-list__table-header">
            Fecha de liberación<app-tooltip
              tooltipText="Es la fecha en que se liberó el producto."
              ><img src="images/info.svg" alt="Info" width="24px" height="16px"
            /></app-tooltip>
          </th>
          <th class="product-list__table-header">
            Fecha de reestructuración<app-tooltip
              tooltipText="Fecha en que se reestructuró el producto."
              ><img src="images/info.svg" alt="Info" width="24px" height="16px"
            /></app-tooltip>
          </th>
          <th class="product-list__table-header">&nbsp;</th>
        </tr>
      </thead>
      <tbody class="product-list__table-body">
        <tr
          class="product-list__table-row"
          *ngFor="let product of paginatedProducts"
        >
          <td class="product-list__table-data">
            <img
              class="product-list__product-logo"
              [src]="product.logo"
              alt="Logo"
            />
          </td>
          <td class="product-list__table-data">{{ product.name }}</td>
          <td class="product-list__table-data">{{ product.description }}</td>
          <td class="product-list__table-data">
            {{ product.date_release | date : "dd/MM/yyyy" }}
          </td>
          <td class="product-list__table-data">
            {{ product.date_revision | date : "dd/MM/yyyy" }}
          </td>
          <td class="product-list__table-data">
            <div class="product-list__actions">
              <div class="menu-container">
                <button
                  class="menu-button"
                  aria-label="Menu"
                  (click)="toggleMenu(product, $event)"
                >
                  <span class="menu-button__dot"></span>
                  <span class="menu-button__dot"></span>
                  <span class="menu-button__dot"></span>
                </button>
                <div
                  class="menu-options"
                  *ngIf="selectedProduct === product && showMenu"
                >
                  <button
                    class="menu-option menu-option--edit"
                    (click)="editProduct(product)"
                  >
                    Editar
                  </button>
                  <button
                    class="menu-option menu-option--delete"
                    (click)="showConfirmRemove(product)"
                  >
                    Eliminar
                  </button>
                </div>
              </div>
            </div>
          </td>
        </tr>
        @if (products.length <= 0) {
        <tr class="product-list__table-row">
          <td class="product-list__no-products" colspan="5">
            No hay productos disponibles.
          </td>
        </tr>
        }
      </tbody>
    </table>
    <app-paginator
      [totalItems]="products.length"
      [itemsPerPage]="itemsPerPage"
      (pageChange)="onPageChange($event)"
      (itemsPerPageChange)="onItemsPerPageChange($event)"
    >
    </app-paginator>
  </div>
</section>
@if (showModal) {
<app-modal>
  <div>
    <h4 style="font-weight: 600; text-align: center">
      ¿Estas seguro de eliminar el producto {{ selectedProduct.name }}?
    </h4>
    <div class="actions">
      <button
        class="button-secondary actions__button"
        type="button"
        title="Cancelar"
        (click)="closeModal()"
      >
        Cancelar
      </button>
      <button
        class="button-primary actions__button"
        type="button"
        title="Confirmar"
        (click)="delete()"
      >
        Eliminar
      </button>
    </div>
  </div>
</app-modal>
} @if (showRemoveMessage) {
<app-modal>
  <div>
    <h4 style="font-weight: 600; text-align: center">
      Producto eliminado exitósamente
    </h4>
    <div class="actions">
      <button
        class="button-primary actions__button"
        type="button"
        title="Confirmar"
        (click)="showRemoveMessage = false"
      >
        Continuar
      </button>
    </div>
  </div>
</app-modal>
}
