<section>
  <div>
    <div>
      <h1>Formulario de Registro</h1>
      <form [formGroup]="form" (ngSubmit)="onSaveForm()">
        <div>
          <label for="id">ID</label>
          <input type="text" id="id" formControlName="id" />
          @if (prodctId?.invalid && (prodctId?.dirty || prodctId?.touched)) {
          <div>
            @if (prodctId?.hasError('required')) {
            <div>Este campo es requerido!</div>
            } @if (prodctId?.hasError('minlength')) {
            <div>El id debe tener al menos 3 caracteres!</div>
            } @if (prodctId?.hasError('maxlength')) {
            <div>El id no debe ser mayor a 10 caracteres!</div>
            } @if (prodctId?.hasError('uniqueId')) {
            <div>ID no válido!</div>
            }
          </div>
          }
        </div>
        <div>
          <label for="name">Nombre</label>
          <input type="text" id="name" formControlName="name" />
          @if (name?.invalid && (name?.dirty || name?.touched)) {
          <div>
            @if (name?.hasError('required')) {
            <div>Este campo es requerido!</div>
            } @if (name?.hasError('minlength')) {
            <div>El nombre debe tener al menos 5 caracteres!</div>
            } @if (name?.hasError('maxlength')) {
            <div>El nombre no debe ser mayor a 100 caracteres!</div>
            }
          </div>
          }
        </div>

        <div>
          <label for="description">Descriptión</label>
          <input type="text" id="description" formControlName="description" />
          @if (description?.invalid && (description?.dirty ||
          description?.touched)) {
          <div>
            @if (description?.hasError('required')) {
            <div>Este campo es requerido!</div>
            } @if (description?.hasError('minlength')) {
            <div>La descripcion debe tener al menos 10 caracteres!</div>
            } @if (description?.hasError('maxlength')) {
            <div>La descripcion no debe ser mayor a 200 caracteres!</div>
            }
          </div>
          }
        </div>
        <div>
          <label for="logo">Logo</label>
          <input type="url" id="logo" formControlName="logo" />
          @if (logo?.invalid && (logo?.dirty || logo?.touched)) {
          <div>
            @if (logo?.hasError('required')) {
            <div>Este campo es requerido!</div>
            }
          </div>
          }
        </div>

        <div>
          <label for="date_release">Fecha Liberación</label>
          <input type="date" id="date_release" formControlName="date_release" />
          @if (dateRelease?.invalid && (dateRelease?.dirty ||
          dateRelease?.touched)) {
          <div>
            @if (dateRelease?.hasError('required')) {
            <div>Este campo es requerido!</div>
            } @if (dateRelease?.hasError('currentDate')) {
            <div>La fecha debe ser igual o mayor a la fecha actual!</div>
            }
          </div>
          }
        </div>
        <div>
          <label for="date_revision">Fecha Revisión</label>
          <input
            type="date"
            id="date_revision"
            formControlName="date_revision"
          />
        </div>

        <div>
          <button
            type="reset"
            title="Agregar"
            [disabled]="!form.touched || loading"
          >
            Reiniciar
          </button>
          <button
            type="submit"
            title="Agregar"
            [disabled]="form.invalid || loading"
          >
            @if (!loading) { Enviar } @else {
            <div>
              Enviando...
              <div></div>
            </div>
            }
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
